bandit == 1.7.8
black == 24.4.0
flake8 == 7.0.0
flask-restplus == 0.13.0
isort == 5.13.2
pydantic == 2.6.4
pydantic_core == 2.16.3
pylint == 3.1.0
pytest == 8.1.1
pytest-cov == 4.1.0
radon == 6.0.1
ruff == 0.3.3